main {
  display: flex;
  flex: auto;
}

section {
  padding: 1em;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#error {
  width: 7%;
  margin: 1em;
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;

  background: var(--surface-0);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--red);
  border-radius: var(--border-radius);

  cursor: default;
  transition: all;
  transition-duration: 200ms;
}

#error > h2 {
  color: var(--red);

  font-size: 2.25em;
  font-weight: bold;
}

#error > p {
  color: var(--text);
}

#error > button {
  padding: 0.25em 0.5em;

  font-size: 1.25em;

  cursor: pointer;

  border: none;
  border-radius: var(--border-radius);
}

#error > button:hover {
  color: black;
  background: white;
}
