.task {
  width: 100%;
  margin-bottom: 0.25em;
  padding: 1em;

  background: var(--surface-0);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

textarea {
  width: 100%;
  padding: 0.25em;

  background: none;
  resize: none;

  border: none;
  border-radius: var(--border-radius);
}

.title {
  width: 50%;

  margin-bottom: 0.5em;
  padding: 0.25em;

  color: var(--rosewater);

  text-wrap: nowrap;
  font-size: 1.45em;
  font-weight: bold;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid var(--subtext-1);
}

.title:focus {
  border-radius: var(--border-radius);
}

.content {
  height: 2em;
  min-height: 2em;
  max-height: 10em;

  font-size: 1.15em;
  overflow: none;
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;

  background: transparent;
  cursor: pointer;
}
